@import url("https://fonts.googleapis.com/css2?family=Inspiration&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  background-color: #fff;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  margin: 0;
}
body .flip {
  transform: scaleX(-1);
}
body .svg {
  width: 3em;
}
body .deco-line {
  width: 5.5em;
  margin-bottom: 2em;
}
body h2 {
  font-size: 2.8em;
  margin: 0;
  font-weight: 400;
  line-height: 1.3em;
}
body h2 strong {
  font-weight: 700;
}
body p {
  font-size: 1.5em;
  font-weight: 400;
  color: #718096;
  line-height: 2.2em;
  margin: 0;
}
body a {
  cursor: pointer;
  font-size: 1.3em;
  text-decoration: none;
  font-weight: 500;
}
body button {
  border-radius: 6px;
  border: none;
  color: white;
}
body nav {
  display: flex;
  justify-content: space-between;
  padding: 0 3em;
  align-items: center;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.08);
  height: 5em;
}
body nav .logo-text {
  font-family: "Inspiration", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.3em;
  margin: 0;
}
body nav .logo {
  display: flex;
  gap: 5px;
}
body nav ul {
  display: flex;
  gap: 4em;
}
body nav a {
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 1em;
}
body nav button {
  font-size: 1em;
  font-weight: 600;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  background: linear-gradient(225deg, #6675f7 0%, #57007b 100%);
}
body li {
  list-style: none;
}
body header {
  height: 100vh;
  position: relative;
}
body header h1 {
  font-size: 4em;
  font-weight: 300;
}
body header h1 #product-gradient {
  background: linear-gradient(180deg, #de4396 0%, rgba(13, 28, 159, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(13, 28, 159, 0.2509803922);
}
body header h1 #teams-gradient {
  background: linear-gradient(225deg, #f7666f 0%, #406aff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body header p {
  margin-top: 2em;
  margin-bottom: 2em;
}
body header button {
  font-weight: 600;
  color: #fafafa;
  font-size: 1em;
  padding: 20px 35px;
  background-color: #3d63ea;
  box-shadow: 0px 0px 100px 10px rgba(0, 0, 0, 0.2);
}
body header .header-content {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 8em;
}
body header .header-content div {
  max-width: 45%;
}
body header .header-content img {
  max-width: 50%;
}
body header .header-circle {
  bottom: 0;
  transform: translateY(50%);
  left: 40%;
  z-index: -1;
}
body .circle {
  position: absolute;
  width: 100px;
  height: 100px;
}
body .services-we-offer {
  background-color: #f9f9ff;
  padding-top: 3em;
  text-align: center;
}
body .services-we-offer .services-cards {
  display: flex;
  gap: 2em;
  overflow-x: scroll;
  padding: 5em;
  padding-bottom: 3em;
}
body .services-we-offer .services-cards h3 {
  font-weight: 600;
  font-size: 1.3em;
}
body .services-we-offer .services-cards .services-card {
  text-align: left;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.08);
  background-color: #fafafa;
  padding: 2em 1em;
  border-radius: 10px;
  min-width: 20em;
  border: 1px solid transparent;
  transition: transform 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
body .services-we-offer .services-cards .services-card p {
  font-size: 1em;
  line-height: 1.8em;
}
body .services-we-offer .services-cards .services-card img {
  width: 40px;
  border-radius: 100%;
  padding: 10px;
  border: 1px solid #75007b;
}
body .services-we-offer .services-cards .services-card:hover {
  border: 1px solid #75007b;
  transform: translateY(30px);
}
body .services-we-offer .services-cards .services-card:hover p {
  color: #4a5568;
}
body .services-we-offer .services-cards .services-card:hover h3 {
  color: #75007b;
}
body .services-we-offer .selectors {
  display: flex;
  align-items: center;
  padding: 1em;
  padding-bottom: 3em;
  gap: 0.2em;
  justify-content: center;
}
body .services-we-offer .selectors .carousel-selector {
  cursor: pointer;
  width: 15px;
  height: 15px;
}
body .services-we-offer .selectors .carousel-selector-fill {
  width: 20px;
  height: 20px;
}
body .our-work {
  height: 80vh;
  position: relative;
}
body .our-work p {
  margin: 0;
}
body .services-we-offer-circle {
  left: 10%;
  z-index: -1;
  transform: translateY(-50%);
}
body section {
  position: relative;
  padding: 8em 6em 0 8em;
  font-size: 1em;
}
body section .video {
  display: flex;
  margin-bottom: 10em;
  margin-right: 3em;
}
body section .video .video-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 40%;
  margin-right: 7em;
}
body section .video .video-content p {
  margin-top: 2.5em;
  margin-bottom: 3em;
}
body section .video .video-content p .colored {
  color: #b0397e;
}
body section .video .video-content .link-list {
  display: flex;
  align-items: center;
  gap: 1.5em;
}
body section .video #about-us-video {
  flex-shrink: 0;
  width: 50%;
}
body section .video #about-us-video img {
  width: 100%;
  height: auto;
}
body section .video-bottom {
  display: flex;
  justify-content: space-between;
  height: 12em;
  margin-bottom: 3em;
}
body section .video-bottom .arrows {
  align-self: self-end;
  display: flex;
  gap: 2em;
}
body section .video-bottom .arrows img {
  width: 2em;
}
body section .video-circle {
  z-index: -1;
  transform: translateY(-50%);
  right: 35%;
}
body .partners {
  height: 28vh;
  background-color: #f7f7fa;
  padding: 0em 5em;
  display: flex;
  align-items: center;
  gap: 5em;
  overflow-x: scroll;
}
body .customers-opinion {
  padding: 0em 8em;
  padding-top: 8em;
  text-align: center;
  height: 100vh;
}
body .customers-opinion h2 {
  margin-bottom: 3em;
}
body .customers-opinion .quotes {
  display: flex;
  justify-content: space-between;
}
body .customers-opinion .quotes img {
  align-self: flex-end;
}
body .customers-opinion .quotes .quote-item {
  display: flex;
  justify-content: space-evenly;
}
body .customers-opinion .quotes .quote-item p {
  width: 50%;
}
body .customers-opinion .quotes .quote-item img {
  width: 1.5em;
  align-self: flex-start;
}
body .customers-opinion .quotes .quote-item .end-single-quote {
  align-self: flex-end;
}
body .customers-opinion .customers-opinion-list {
  display: flex;
  margin-top: 3em;
  justify-content: center;
  gap: 3em;
}
body .customers-opinion .customers-opinion-list .customer {
  display: flex;
  flex-direction: column;
  max-width: 15em;
}
body .customers-opinion .customers-opinion-list .customer img {
  margin-bottom: -1.6em;
  opacity: 0.5;
}
body .customers-opinion .customers-opinion-list .customer .stars {
  display: flex;
  gap: 0.4em;
  justify-content: center;
}
body .customers-opinion .customers-opinion-list .customer .stars img {
  width: 1.3em;
  margin: 0;
  opacity: 1;
}
body .customers-opinion .customers-opinion-list .customer h6 {
  color: #a0aec0;
  font-weight: 500;
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}
body .customers-opinion .customers-opinion-list .customer p {
  line-height: normal;
  font-size: 0.8em;
  font-weight: 400;
  color: #e2e8f0;
}
body .customers-opinion .customers-opinion-list .customer-active img {
  opacity: 1;
}
body .customers-opinion .customers-opinion-list .customer-active h6 {
  color: #57007b;
  font-size: 1.1em;
  font-weight: 700;
}
body .customers-opinion .customers-opinion-list .customer-active p {
  color: black;
  font-size: 0.9em;
  font-weight: 400;
}
body .case-studies {
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-color: #f7f7fa;
  padding: 5em;
}
body .case-studies .deco-dotted-arrow {
  position: absolute;
}
body .case-studies #deco-dotted-arrow1 {
  top: -8em;
  transform: scale(0.8);
  left: 8em;
}
body .case-studies #deco-dotted-arrow2 {
  top: -6em;
  transform: rotate(-110deg);
  right: 8em;
}
body .case-studies #circle-case-studies {
  width: 1em;
  left: 25em;
  top: 1em;
}
body .case-studies .case-studies-item-link {
  display: flex;
  align-items: center;
  gap: 0.7em;
  align-self: flex-end;
}
body .case-studies .case-studies-item-link a {
  background: linear-gradient(225deg, #f76680 0%, #57007b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body .case-studies .case-studies-list .case-studies-item-bg-pink {
  background-color: #f1f2ff;
}
body .case-studies .case-studies-list .case-studies-item {
  text-align: left;
  display: flex;
  margin-top: 5em;
  border-radius: 3em;
  border: 1px solid #e7daed;
  box-sizing: border-box;
}
body .case-studies .case-studies-list .case-studies-item .case-studies-item-content {
  width: 50%;
  margin: 3em 6em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .case-studies .case-studies-list .case-studies-item .case-studies-item-content p {
  text-align: left;
  line-height: 1.8em;
  font-size: 1em;
}
body .case-studies .case-studies-list .case-studies-item .case-studies-item-content a {
  font-size: 1em;
}
body .case-studies .case-studies-list .case-studies-item .case-studies-item-content img {
  width: 0.5em;
}
body .case-studies .case-studies-list .case-studies-item .case-studies-item-content .case-studies-item-content-text {
  display: flex;
  flex-direction: column;
  gap: 4em;
  margin-bottom: 3em;
}
body .case-studies .case-studies-list .case-studies-item img {
  width: 50%;
}
body .case-studies .case-studies-list .case-studies-item h2 {
  color: #2d3748;
  font-weight: 600;
}
body .case-studies #read-more-case-studies {
  margin-top: 3em;
}
body .case-studies #read-more-case-studies img {
  width: 0.5em;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 12px;
  }
  body .link-list {
    gap: 1.5em;
  }
}

/*# sourceMappingURL=style.css.map */
