@import "utilities/variable";

@import url("https://fonts.googleapis.com/css2?family=Inspiration&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  background-color: $white;
  font-size: 16px;
  font-family: "Inter", sans-serif;

  margin: 0;

  .svg {
    width: 3em;
  }

  button {
    border-radius: 6px;
    border: none;
    color: white;
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding: 0 3em;
    align-items: center;
    // shadow
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.08);
    height: 5em;

    .logo-text {
      font-family: "Inspiration", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 2.3em;
      margin: 0;
    }

    .logo {
      display: flex;
      gap: 5px;
    }

    ul {
      display: flex;
      gap: 4em;
    }

    a {
      text-align: center;
      text-decoration: none;
      color: black;
      font-weight: 500;
      font-size: 1em;
    }

    button {
      // button
      font-size: 1em;
      font-weight: 600;
      color: white;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 25px;
      padding-right: 25px;
      background: linear-gradient(225deg, #6675f7 0%, #57007b 100%);
    }
  }

  li {
    list-style: none;
  }

  header {
    height: 100vh;
    position: relative;

    h1 {
      font-size: 4em;
      font-weight: 300;

      #product-gradient {
        background: linear-gradient(
          180deg,
          #de4396 0%,
          rgba(13, 28, 159, 0) 100%
        );

        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: #0d1c9f40;
      }

      #teams-gradient {
        background: linear-gradient(225deg, #f7666f 0%, #406aff 100%);

        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    h6 {
      font-size: 1.5em;
      font-weight: 400;
      color: #4a5568;
      line-height: 2em;
    }

    button {
      font-weight: 600;
      color: #fafafa;
      font-size: 1em;
      padding: 20px 35px;
      background-color: #3d63ea;
      box-shadow: 0px 0px 100px 10px rgba(0, 0, 0, 0.2);
    }

    .header-content {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 8em;

      div {
        max-width: 45%;
      }

      img {
        max-width: 50%;
      }
    }

    .header-circle {
      bottom: 0;
      transform: translateY(50%);
      left: 40%;
      z-index: -1;
    }
  }

  .circle {
    position: absolute;
    width: 100px;
    height: 100px;
  }

  .services-we-offer {
    height: 60vh;
    background-color: #f9f9ff;

    h2 {
      margin: 0;
      font-weight: 700;
      font-size: 2.2em;
      text-align: center;
      padding: 1.5em 0;
    }

    .services-cards {
      display: flex;
      gap: 2em;

      overflow-x: scroll;
      padding-bottom: 5em;
      padding-left: 5em;

      h3 {
        font-weight: 600;
        font-size: 1.3em;
      }

      .services-card {
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.08);
        background-color: #fafafa;
        padding: 2em 1em;
        border-radius: 10px;

        min-width: 20em;
        border: 1px solid transparent;
        transition: transform 0.2s ease-in-out, border-color 0.2s ease-in-out;

        p {
          line-height: 1.5em;
        }

        img {
          width: 40px;
          border-radius: 100%;
          padding: 10px;
          border: 1px solid #75007b;
        }
      }

      .services-card:hover {
        border: 1px solid #75007b;
        transform: translateY(30px);

        h3 {
          color: #75007b;
        }
      }
    }
    .selectors {
      display: flex;
      align-items: center;
      margin-top: 5em;
      gap: 0.2em;
      justify-content: center;

      .carousel-selector {
        cursor: pointer;
        width: 15px;
        height: 15px;
      }

      .carousel-selector-fill {
        width: 20px;
        height: 20px;
      }
    }
  }

  .our-work {
    height: 80vh;
    position: relative;

    p {
      margin: 0;
    }
  }

  .services-we-offer-circle {
    left: 10%;
    z-index: -1;
    transform: translateY(-50%);
    p {
      .colored {
        color: #b0397e;
      }
    }
  }
  section {
    h2 {
      font-weight: 400;
      strong {
        font-weight: 700;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  body {
    font-size: 12px;

    .link-list {
      gap: 1.5em;
    }
  }
}
