@mixin font(
  $size,
  $weight,
  $color: black,
  $height: normal,
  $style: normal,
  $family: "Inter"
) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  font-family: $family;
  line-height: $height;
  font-style: $style;
}
